@import url("estilos/header.css"); @import url("estilos/banner.css"); @import url("estilos/informacao.css"); @import url("estilos/card.css"); @import url("estilos/climatizador.css"); @import url("estilos/microondas.css");  @import url("estilos/bebedouro.css");  @import url("estilos/tabela.css");


:root{
    --cor-de-fundo:#ffffff;
    --cor-fundo-header:#ffffff;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.localização-google-maps{
    position: relative;
    background-color: #c7c7c7;
    margin: 15px -10px 30px -10px;
    padding: 20px;
    padding-bottom:58% ;
}

.localização-google-maps > iframe{
    position: absolute;
    top:5% ;
    left:5% ;
    width:90% ;
    height: 90%;
    border-radius: 5px;
}