@import url("estilos/header.css"); @import url("estilos/banner.css"); @import url("estilos/informacao.css"); @import url("estilos/card.css"); @import url("estilos/climatizador.css"); @import url("estilos/microondas.css");


:root{
    --cor-de-fundo:#ffffff;
    --cor-fundo-header:#ffffff;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}