@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Oriya:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Oriya:wght@400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root{
    --fonte-titulo: "Open Sans", sans-serif;
    --font-sub-titulo:"Nunito Sans", sans-serif;
}

.card-microondas{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.404);
    margin: 1em;
    padding: 1em;
}

.card-descrição-microondas{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.descrição-titulo-microoondas{
    color: #003F7A;
    font-weight: 600;
    font-family: var(--fonte-titulo);
}

.descrição-sub-titulo-microondas{
    font-size: 20px;
    color: black;
    font-weight: bold;
    font-family: var(--font-sub-titulo);
    margin: 0.5em 0;
}

.descrição-texto-microondas{
    font-size: 14px;
    font-family: var(--fonte-titulo);
}

.icones-marcas-microondas{
    display: flex;
    justify-content: space-between;
}

.marcas-microondas{
    display: flex;
}

.link-marca-eletrolux{
    background-color: rgba(0, 0, 0, 0.856);
    font-family: var(--fonte-titulo);
    text-shadow: 1px 1px 1px black;
    padding: 1em 2.2em;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.5s;
    margin-right: 3px;
}

.link-marca-eletrolux:hover{
    background-color: rgba(0, 0, 0, 0.568);
    color: rgb(197, 197, 197);
   }